body {
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content:space-between ;
    
}
header a:hover{
    opacity: 0.5;
    color: rgb(128, 0, 90);
}
header a{
border: 3px solid lightblue;
border-radius: 8px;

}
body{
    color: olivedrab;
   background-color: orange;
}

main{
    text-align: center;
    border: 15x double olive;

}
p:hover{
    color: red;
}
h1:hover{
    opacity: 0.2;
    color:red;
}
footer{
    text-align: center;
}
footer img:hover{
    opacity: 0.5px;
}
li:hover{
    color: red;
}
h1:hover{
    opacity: 0.2;
    color:red;
}
h1{
    text-align: center;
}
footer img:hover{
    width: 20%;
    height: 20%;
}
main p{
    border: 3px solid olive;
    border-radius: 20px;
}
h2:hover{
    color: rebeccapurple;
}
div {
    border: 3px solid olive;
    margin-top: 10px;
    border-radius: 20px;
}
